<%- include("../templates/encabezado2")%>
<%- include("../templates/menuCerrarA")%>
<div class="container">
    <h2>Mostrar Usuarios En General </h2>
    <p>Por favor, elige si deseas mostrar los datos del usuario o propietario:</p>
    <div class="buttons">
    <a href="/mostrarUsuarios" class="button">Usuarios</a>
    <a href="/mostrarPro" class="button">Propietario</a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
      <a href="/logoutA">Cerrar Cuenta</a>
    <br>
  <br>
  <br>
  <br>
<%- include("../templates/pie")%>