<%- include("templates/menuP")%>
<%- include("templates/encabezado2")%>
<h2>Tus casas Disponibles:</h2>
		<div class="gallery">
			<div class="image">
				<a href="DesCasaPropi.html"><img src="Img/AGREGAR.png" alt="Imagen 1" ></a>
			</div>
			<div class="image">
			  <img src="Img/AGREGAR.png" alt="Imagen 2" >
			</div>
			<div class="image">
			  <img src="Img/AGREGAR.png" alt="Imagen 3">
			</div>
			<div class="image">
				<img src="Img/AGREGAR.png" alt="Imagen 3">
			  </div>
  
<%- include("templates/pie")%>
     