<form action="/principalP">
    <h2>Registrarte</h2>
    <input required type="name" name="nom" placeholder="Nombre completo">
    <input required type="email" name="email" placeholder="Correo Electronico">
    <input required type="password" name="password" placeholder="Contraseña">
    <input required type="password" name="password" placeholder="Telefono">
    <button > Registrar</button>
    <br>
    <input type="reset" value="Borrar">
    <br>
    <a href="/crearCuentaP">Cancelar </a>
</form>
<div class="navbar">
    <nav class="menu">
        <h2><FONT FACE="courier new"><a href="/loginpropi"> R e g r e s a r</a></FONT></h2>
    </nav>
</div>