<%- include("../templates/encabezado2")%>
<div class="container">
  <h2>Error </h2>
  <p>Ha ocurrido un error al hacer la operacion ,por favor vuelve  a intentarlo ,no te rindas !!</p>
			

<br>
<br>
<br>
<br>
<%- include("../templates/pie")%>