<%- include("templates/encabezado")%>
<%- include("templates/menu")%>
<br>
<center><h1>Pagina Usurio Iniciando sesion</h1></center>
<main>
    <section class="contenedor" id="Servicio">
        <h2 class="Subtitulo">¿Quienes somos?</h2>
        <div class="Contenedor-Servicio">
            <img src="Img/gif.gif" width="50%" height="50%">
            <div class="checklist-servivio">
                <div class="Service">
                    <h2><FONT FACE="courier new"><h3 class="n-service"><span class="number">1</span>¿QUIENES SOMOS?</h3></FONT></h1>
                    <h3><p>Somos una empresa que tiene como objetivo ayudar a la comunidad estudiantil a ayudar a ahorrar tanto tiempo como dinero.</p></h3>
                </div>
                <div class="Service">
                    <h2><FONT FACE="courier new"><h3 class="n-service"><span class="number">2</span> OBJETIVO:</h3></FONT></h2>
                    <h3>Nuestro objetivo se basa en ayudar a la comunidad universitaria tenga la 
                        facilidad de poder rentar un lugar seguro,accesible y con las mejores 
                        comodidades,de la misma manera que sea segura y cerca de la universidad ,
                        ya que es dificil encontrar un lugar que se adapte a las comodidades y al presupuesto. </p></h3>
                    
                </div>
                
                    
                </div>
            </div>
        </div>
        
    </section>
    <section class="Galeria" id="Galeria">
        <div class="Contenedor">
        <h2 class="Subtitulo">R e c o m e n d a c i o n e s</h2>
        <div class="Contenedor_Galeria">
            <img src="/web/Img/Ca16.jpeg" width="200" height="400" alt="" class="img-Galeria">
            <img src="/web/Img/Ca9.jpeg" alt="" width="200" height="400" class="img-Galeria">
            <img src="/web/Img/Ca25.jpeg" width="200" height="400" class="img-Galeria">
        </div>
        
    </div>
    </section>
    <section class="imagen-light">
        <img src="Svg/Mamalon.svg" alt="" class="Close">
        <img src="" alt="" width="70%" height="70%" class="Agregar-imagen" >
        
    </section>
    <section class="Contenedor " id="Expertos">
        <h2 class="Subtitulo ">O f r e c e m o s :</h2>
        <section class="Experts">
            <div class="Cont-Expert">
                    <a href="Casas.html"><img src="Img/Ca20.jpeg" width="" height=""></a>
                <h2 class="N-expertos"><a href="/casas">Casas</a></h2>
                
            </div>
            <div class="Cont-Expert">
                <a href="Departament.html"><img src="Img/Ca10.jpeg" ></a>
                <h2 class="N-expertos"><a href="/departamentos">Departamentos</a></h2>
            </div>
            <div class="Cont-Expert">
                    <a href="Cuartos.html"><img src="Img/Ca7.jpeg" ></a>
                <h2 class="N-expertos"><a href="/cuartos">Cuartos Compartidos</a></h2>
            </div>
        </section>	
    </section>

<%- include("templates/pie")%>