<%- include("templates/encabezado2")%>
<div class="container">
  <h2>Registro </h2>
  <p>Por favor, elige si deseas Registrarte como usuario o Rentador:</p>
  <div class="buttons">
  <a href="/creaCuentaU" class="button">Usuario</a>
  <a href="/CreaCuentaP" class="button">Rentador</a>
  </div>
</div>
<div class="navbar">
			
  <nav class="menu">
    <h2><FONT FACE="courier new"><a href="/principal"> S a l i r </a></FONT></h2>
  </nav>
</div>
<br>
<br>
<%- include("templates/pie")%>