<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Esta es una pagina para que puedas encontrar donde rentar de manera segura".>
    <title>Wolf Rest </title>
    <!-- Estilos Fuentes -->
    <link rel="stylesheet" type="text/css" href="/web/Fuentes/fontts.css">
    <!-- Estilos de Icono-->
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<link rel="icon" type="image/png" href="/web/Img/Lobito.png">
	<link rel = "preconnect" href = "https://fonts.gstatic.com">

    <!-- Estilos de pagina Principal-->
    <link rel="stylesheet" type="text/css" href="/web/css/principal.css">
    <!-- Estilos de pagina Principal-->
    <link rel="stylesheet" type="text/css" href="/web/css/principalP.css">
    <!-- Estilos de pagina Principal-->
    <link rel="stylesheet" type="text/css" href="/web/css/principalU.css">
    
    <!-- Estilos de pagina Casas,departamentos y casas -->
    <link rel="stylesheet" type="text/css" href="/web/css/cdc.css">

    <!-- Estilos de pagina Casas,departamentos y casas -->
    <link rel="stylesheet" type="text/css" href="/web/css/loging.css">
    
    <!-- Estilos de pagina Login de Propietario -->
    <link rel="stylesheet" href="/web/css/loginpropi.css">

    <!-- Estilos de pagina Login de Usuario -->
    <link rel="stylesheet" href="/web/css/loginusuario.css">
    <!-- Estilos de REGISTRO DE CUENTA -->
    <link rel="stylesheet" href="/web/css/cuenta.css">
<body>