<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolf Rest </title>
    <!-- Estilos Fuentes -->
    <link rel="stylesheet" type="text/css" href="/web/Fuentes/fontts.css">
    <!-- Estilos de Icono-->
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<link rel="icon" type="image/png" href="/web/Img/Lobito.png">
	<link rel = "preconnect" href = "https://fonts.gstatic.com">

    <!-- Estilos de pagina Carga -->
    <link rel="stylesheet" href="/web/css/pagcarga.css"> 

<body>