<header class="header" id="Inicio">		
    <img src="/web/Svg/MENU.svg" alt="" class="hamburger" id="hamburger">
    <nav class="Menu_Navegacion " id="Menu_Navegacion">
            <img src="/web/Svg/MENU.svg" alt="" class="hamburger2" id="hamburger2">
            <h2><FONT FACE="courier new"><a href="/usuario">Perfil</a></FONT></h2></nav>   
        <h2><FONT FACE="courier new"><a href="#Servicio">¿Quienes Somos?</a></FONT></h2>
        <h2><FONT FACE="courier new"><a href="#Galeria ">Galeria</a></FONT></h2>
        <h2><FONT FACE="courier new"><a href="#Expertos">Categoria </a></FONT></h2>
        <h2><FONT FACE="courier new"><a href="/logout">Cerrar sesion </a></FONT></h2>
        </ul>
    <div class="contenedor head">
        <h1 class="Titulo">Wolf Rest </h1>
        <p class="copy"><FONT FACE="courier new">"Descanso superior para tu lobo interior"</FONT> </p></div>
    </header>

