	
    <img src="/web/Svg/MENU.svg" alt="" class="hamburger" id="hamburger">
    <nav class="Menu_Navegacion " id="Menu_Navegacion">
            <img src="/web/Svg/MENU.svg" alt="" class="hamburger2" id="hamburger2">
        <h2><FONT FACE="courier new"><a href="/principal">Inicio</a></FONT></h2>
        <h2><FONT FACE="courier new"><a href="/loging">Registrarme</a></FONT></h2></nav>
        </ul>