<footer id="Contacto">
    <div class="footer-content">
        <div class="Contac-us">
            <h2 class="brand"> - Cruz Leon Fernando</h2>
            <h2 class="brand"> - Fabian Cruz Diana Elizabeth</h2>
            <h2 class="brand"> - Calixto Lopez Heber</h2>
            <h2 class="brand"> - Jaramillo Alegria Brenda </h2>	
        </div>
        <div class="Social-Media">
            <a href="https://www.facebook.com/brenda.alegria.9212" class="Medio-social-incono">
                <i class='bx bxl-facebook-circle'></i>
            </a>
            <a href="https://twitter.com/BrenAlegria1?s=09" class="Medio-social-incono">
                <i class='bx bxl-twitter'></i>
            </a>
            <a href="https://www.instagram.com/alegriabren/" class="Medio-social-incono">
                <i class='bx bxl-instagram'></i>
            </a>	
        </div>		
    </div>
    <div class="line">	
    </div>	
</footer>
<script type=""></script>
<script type="text/javascript"></script>

<script>
    var Menu=document.getElementById("hamburger");
    var Menu2=document.getElementById("hamburger2");
    Menu.addEventListener("click",()=>{
        var Mostrar=document.getElementById("Menu_Navegacion");

        if (Mostrar.style.visibility=="hidden") {
            Mostrar.style.visibility="visible";
            Menu.style.position="fixed";
        }
        else{
            Mostrar.style.visibility="hidden";
            Menu.style.position="fixed";
        }
    })

    Menu2.addEventListener("click",()=>{
        Mostrar2=document.getElementById("Menu_Navegacion");
        Mostrar2.style.visibility="hidden";
    })
</script>
</body>
</html>