<%- include("../templates/menuC")%>
<%- include("../templates/encabezado2")%>

<h1>Nuevo  Departamento </h1>
<form action="/nuevoDepa" method="post" id="formulario">
    <div>
        <input type="text" name="nomD" id="nomD" placeholder="Nombre" autofocus>
        <span mensajeNombre></span>
    </div>
    <div>
		<input type="tel" id="telD" name="telD" placeholder="4274568975" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
        <span mensajeUsuario></span>
    </div>
    <div>
        <input type="text" name="direccionD" id="direccionD" placeholder="direccion" autofocus>
        <span mensajePassword></span>
    </div>
	<div>
        <input type="text" name="costoD" id="costoD" placeholder="Precio de Renta" autofocus>
        <span mensajePassword></span>
    </div>
	<div>
        <input type="text" name="tiempoD" id="tiempoD" placeholder="Tiempo de Renta" autofocus>
        <span mensajePassword></span>
    </div>
	<div>
        <input type="text" name="descaD" id="descaD" placeholder="Descripcion" autofocus>
        <span mensajePassword></span>
    </div>
    <div>
        <button type="submit">Guardar Registro De Departamento</button>
    </div>
</form>
        <div class="navbar">
          <nav class="menu">
            <h2><FONT FACE="courier new"><a href="/principalP"> R e g r e s a r</a></FONT></h2>
          </nav>
        </div>
<%- include("../templates/pie")%>
     