<%- include("../templates/menuC")%>
<%- include("../templates/encabezado2")%>

<header>
    <h2>Departamentos Disponibles</h2>
    <div class="gallery">
        <div class="image">
          <a href="/desDepartU"><img src="/web/Img/Ca15.jpeg" alt="Imagen 1" ></a>
        </div>
        <div class="image">
          <a href="/desDepartU"><img src="/web/Img/Ca14.jpeg" alt="Imagen 2" ></a>
        </div>
        <div class="image">
          <a href="/desDepartU"><img src="/web/Img/Ca17.jpeg" alt="Imagen 3"></a>
        </div>
        <div class="image">
          <a href="/desDepartU"><img src="/web/Img/Ca19.jpeg" alt="Imagen 3"></a>
          </div>
          <div class="image">
            <a href="/desDepartU"><img src="/web/Img/Ca20.jpeg" alt="Imagen 1"></a>
          </div>
          <div class="image">
            <a href="/desDepartU"><img src="/web/Img/Ca22.jpeg" alt="Imagen 2"></a>
          </div>
          <div class="image">
            <a href="/desDepartU"><img src="/web/Img/Ca10.jpeg" alt="Imagen 2"></a>
          </div>
      </div>
      <div class="navbar">
        
        <nav class="menu">
            <h2><FONT FACE="courier new"><a href="/principalU"> R e g r e s a r</a></FONT></h2>
        </nav>
    </div>
<%- include("../templates/pie")%>
     