<%- include("../templates/menu2")%>
<%- include("../templates/encabezado2")%>
<h2>Departamento Disponible</h2>
		<div class="gallery">
			<div class="image">
                <img src="/web/Img/Ca14.jpeg" alt="Imagen 1" ></a>
			</div>
            <div class="image">
                <h3>Este Departamento cuenta con lo siguiente :</h3>
                <p>Cuarto</p>
				<p>2 camas</p>
				<p>Television</p>
                <p>-Internet</p>
                <p>-Baño Completo</p>
                <p>-Escritorio</p>
                <p>-Seguridad</p>
                <p>-Cerca de la Universidad</p>
                <h3>Precio:</h3>
                <p>$2500</p>
                <h3>Tiempo de Renta por el Precio</h3>
                <p>1 mes Completo</p>
				<h3>Para obtener contacto del Propietario</h3>
                <p><a href="/regisU"> Registrarte</a></p>
				<p><a href="/loging"> Ya tienes una Cuenta? ,Inicia Secion</a></p>
			</div>
			
		  </div>
          <div class="navbar">
			
			<nav class="menu">
				<h2><FONT FACE="courier new"><a href="/departamentos"> R e g r e s a r</a></FONT></h2>
			</nav>
		</div>

<%- include("../templates/pie")%>