<%- include("../templates/menuU")%>
<%- include("../templates/encabezado2")%>
<header>
    <div class="news">
        <img src="Img/logo.png" alt="Descripción de la imagen">
        <div class="news-content">
            <h1>Wolf Rest </h1>
        </div>
    </div>
    <h2>Casas Disponibles </h2>
    <div class="gallery">
        <div class="image">
          <a href="DesCasa.html"><img src="Img/Ca5.jpeg" alt="Imagen 1" ></a>
        </div>
        <div class="image">
          <img src="Img/Ca4.jpeg" alt="Imagen 2" >
        </div>
        <div class="image">
          <img src="Img/Ca14.jpeg" alt="Imagen 3">
        </div>
        <div class="image">
            <img src="Img/Ca20.jpeg" alt="Imagen 3">
          </div>
          <div class="image">
            <img src="Img/Ca19.jpeg" alt="Imagen 1">
          </div>
          <div class="image">
            <img src="Img/Ca15.jpeg" alt="Imagen 2">
          </div>
          <div class="image">
            <img src="Img/Ca16.jpeg" alt="Imagen 3">
          </div>
          <div class="image">
              <img src="Img/Ca17.jpeg" alt="Imagen 3">
            </div>
      </div>
      <div class="navbar">
        
        <nav class="menu">
            <h2><FONT FACE="courier new"><a href="/principalIni"> R e g r e s a r</a></FONT></h2>
        </nav>
    </div>

    <%- include("../templates/pie")%>
     