<%- include("../templates/menuC")%>
<%- include("../templates/encabezado2")%>
<h2>Nueva Casa</h2>
<form action="/nuevaCasa" method="post" id="formulario">
    <div>
        <input type="text" name="nomPropi" id="nomPropi" placeholder="Nombre" autofocus>
        <span mensajeNombre></span>
    </div>
    <div>
		<input type="tel" id="tel" name="tel" placeholder="4274568975" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
        <span mensajeUsuario></span>
    </div>
    <div>
        <input type="text" name="direccion" id="direccion" placeholder="direccion" autofocus>
        <span mensajePassword></span>
    </div>
	<div>
        <input type="text" name="costo" id="costo" placeholder="Precio de Renta" autofocus>
        <span mensajePassword></span>
    </div>
	<div>
        <input type="text" name="tiempo" id="tiempo" placeholder="Tiempo de Renta" autofocus>
        <span mensajePassword></span>
    </div>
	<div>
        <input type="text" name="desca" id="desca" placeholder="Descripcion" autofocus>
        <span mensajePassword></span>
    </div>
    <div>
        <button type="submit">Guardar Registro De Casa</button>
    </div>
</form>
<%- include("../templates/pie")%>
     