<%- include("../templates/menuP")%>
<%- include("../templates/encabezado2")%>
<h2>Casa Disponible</h2>
		<div class="gallery">
			<div class="image">
                <img src="Img/AGREGAR.png" alt="Imagen 1" ></a>
			</div>
            <div class="image">
                <h3>Agregar Descripcion:</h3>
                <p>_______________________________</p>
                
                
				<h3>Tu contacto:</h3>
                <p><a href="login.html">Agregar tus datos personales</a></p>
				
				
			</div>

			<nav class="menu">
				<h2><FONT FACE="courier new"><a href="Ca.html"> R e g r e s a r</a></FONT></h2>
			</nav>
		</div>

<%- include("../templates/pie")%>