<%- include("../templates/encabezado2")%>

<form action="/validarU" method="post" id="formulario">
    <h2>Iniciar Sesion Usuario</h2>
    <input required type="text" name="nomUsu" id="nomUsu" placeholder="Nombre Usuario" autofocus>
    <input required type="password" name="password" id="password" placeholder="Contraseña">
    <button type="submit" >Ingresar</button>
    <br>
    <input type="reset" value="Borrar">
    <br>
    <a href="/registro">No tienes cuenta? , Crea una cuenta</a>
</form>
<div class="navbar">
    <nav class="menu">
        <h2><FONT FACE="courier new"><a href="/loging"> R e g r e s a r</a></FONT></h2>
    </nav>
</div>


<%- include("../templates/pie")%>
