<%- include("../templates/encabezado2")%>
<div class="container">
  <h2>Ingresar</h2>
  <p>Por favor, elige si deseas ingresar como usuario o Rentador:</p>
  <div class="buttons">
  <a href="/loginusuario" class="button">Usuario</a>
  <a href="/loginpropi" class="button">Propietario</a>
  <a href="/loginA" class="button">Administrador</a>
  </div>
</div>
<br>
    <a href="/registro">No tienes cuenta? , Crea una cuenta</a>
<div class="navbar">
  <br>
  <nav class="menu">
    <h2><FONT FACE="courier new"><a href="/principal"> S a l i r </a></FONT></h2>
  </nav>
</div>
<br>
<br>
<br>
<br>
<%- include("../templates/pie")%>