<%- include("../templates/encabezado2")%>
<div class="container">
  <h2>Error </h2>
  <p>Ha ocurrido un error al Iniciar Sesion ,¿Quieres intentarlo de nuevo?</p>
  <div class="buttons">
  <a href="/Loginusuario" class="button">Iniciar Sesion como Usuario</a>
  </div>
</div>
<div class="navbar">
			
  <nav class="menu">
    <h2><FONT FACE="courier new"><a href="/principal"> S a l i r </a></FONT></h2>
  </nav>
</div>
<br>
<br>
<br>
<br>
<%- include("../templates/pie")%>