<%- include("../templates/menuP")%>
<%- include("../templates/encabezado2")%>

<h2>Tus casas Disponibles:</h2>
		<div class="gallery">
			<div class="image">
				<a href="DesCasaPropi.html"><img src="/web/Img/AGREGAR.png" alt="Imagen 1" ></a>
			</div>
			<div class="image">
			  <img src="/web/Img/AGREGAR.png" alt="Imagen 2" >
			</div>
			<div class="image">
			  <img src="/web/Img/AGREGAR.png" alt="Imagen 3">
			</div>
			<div class="image">
				<img src="/web/Img/AGREGAR.png" alt="Imagen 3">
			  </div>
        <div class="navbar">
			
          <nav class="menu">
            <h2><FONT FACE="courier new"><a href="/principalP"> R e g r e s a r</a></FONT></h2>
          </nav>
        </div>

<%- include("../templates/pie")%>
     