<%- include("../templates/menuC")%>
<%- include("../templates/encabezado2")%>

<h2>Cuartos Disponibles</h2>
		<div class="gallery">
			<div class="image">
                <a href="/desCuartoU"><img src="/web/Img/Ca7.jpeg" alt="Imagen 1" ></a>
			</div>
			<div class="image">
				<a href="/desCuartoU"><img src="/web/Img/Ca2.jpeg" alt="Imagen 2" ></a>
			</div>
			<div class="image">
				<a href="/desCuartoU"><img src="/web/Img/Ca13.jpeg" alt="Imagen 3"></a>
			</div>
			<div class="image">
				<a href="/desCuartoU"><img src="/web/Img/Ca11.jpeg" alt="Imagen 3"></a>
			  </div>
			  <div class="image">
				<a href="/desCuartoU"><img src="/web/Img/Ca12.jpeg" alt="Imagen 1"></a>
			  </div>
			  <div class="image">
				<a href="/desCuartoU"><img src="/web/Img/Ca13.jpeg" alt="Imagen 2"></a>
			  </div>
		  </div>
          <div class="navbar">
			
			<nav class="menu">
				<h2><FONT FACE="courier new"><a href="/cuartosU"> R e g r e s a r</a></FONT></h2>
			</nav>
		</div>
<%- include("../templates/pie")%>
     