<%- include("../templates/menu2")%>
<%- include("../templates/encabezado2")%>
<header>
    <div class="news">
        <img src="Img/logo.png" alt="Descripción de la imagen">
        <div class="news-content">
            <h1>Wolf Rest </h1>
        </div>
    </div>
    <h2>Cuartos Disponibles</h2>
    <div class="gallery">
        <div class="image">
            <img src="Img/Ca7.jpeg" alt="Imagen 1" ></a>
        </div>
        <div class="image">
          <img src="Img/Ca2.jpeg" alt="Imagen 2" >
        </div>
        <div class="image">
          <img src="Img/Ca13.jpeg" alt="Imagen 3">
        </div>
        <div class="image">
            <img src="Img/Ca11.jpeg" alt="Imagen 3">
          </div>
          <div class="image">
            <img src="Img/Ca12.jpeg" alt="Imagen 1">
          </div>
          <div class="image">
            <img src="Img/Ca13.jpeg" alt="Imagen 2">
          </div>
      </div>
      <div class="navbar">
        
        <nav class="menu">
            <h2><FONT FACE="courier new"><a href="/principal"> R e g r e s a r</a></FONT></h2>
        </nav>
    </div>
<%- include("../templates/pie")%>
     